<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Pregunta</title>
</head>
<body>

    <h1>Eliminar Pregunta</h1>

    <p>¿Estás seguro de que deseas eliminar la pregunta?</p>

    <p><strong>{{ pregunta.enunciado }}</strong></p>

    <p>Perfil: {{ pregunta.perfil.nombre }}</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit">Confirmar eliminacion</button>
        <a href="{% url 'lista_preguntas' %}">Cancelar</a>
    </form>

</body>
</html>